.MegaMenuSubLevelContainer {
    display: block;
    position: absolute;
    top: 25px;
    margin-left: 150px;
    width: 80%;
    background-color: #fff;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    box-shadow: 0 4px 20px rgb(34 34 34 / 15%);
    height: 300px;
    
}
/* .MenuThirdLevelSubList{
    display: flex;
    flex-wrap: wrap;
} */
.MenuSubDiv.show-menu-2.show-menu-2-0 {
    width: 100%;
    background-color: rgba(245,245,246,0.4);
    height: 300px;
}

.ThirdLevel {
    padding: 5px 15px;
}

.SecondLevel.HasThreeLevels {
    display: flex;
    height: 300px;
    background-color: rgba(245,245,246,0.4);
}
.FinalLevelContainer {
    width: 100%;
}
.MenuThirdLevel {
    display: block;
}
.ThirdLevel {
    padding: 5px 15px;
}
.MenuThirdLevelSubList {
    flex-basis: 25%;
}

.MenuThirdLevelList {display: flex;flex-wrap: wrap;}

/* .MenuThirdLevelSubList {
    padding: 0 25px;
    height: 300px;
    flex-basis: 50%;
} */
.MenuThirdLevel .ThirdLevel .MenuThirdLevelList .MenuThirdLevelSubList {
    padding: 0 25px;
    min-height: 300px;
    column-count: 4;
    -moz-column-count: 4;
    -webkit-column-count: 4;
    width: 100%;
}
.MenuThirdLevelSubList ul {
    text-align: left;
}
span.span-3 {
    color: #ffd500; 
    cursor: pointer; 
}

span.span-4{
    font-weight: 500;
    color: rgba(34, 34, 34, 0.644);
    font-size: 15px;
       
}
span.span-4:hover{
    color: #222;
    font-weight: 700;
    cursor: pointer;
}

li.main-menu-column {
    padding: 10px 3%;
    /* text-decoration: none; */
    list-style-type: none;
}

.FinalLevelContainer {width: 100%;}

ul li.main-menu-column {
    list-style-type: none;
}
/* .FinalLevelContainer .MenuThirdLevel .ThirdLevel .MenuThirdLevelList .MenuThirdLevelSubList a.parent {
    color: #222;
    font-size: 15px;
    font-weight: 700;
    display: inline-block;
} */
.MenuThirdLevelList .MenuThirdLevelSubList a.child {
    font-weight: 500;
}
.MenuThirdLevel .ThirdLevel .MenuThirdLevelList .MenuThirdLevelSubList li.Level-4 {
    margin: 0;
    padding: 3px 3%;
}

li.ListItem {
    list-style-type: none;
}

.Container {
    position: absolute;
    width: 70%;
    /* overflow: hidden; */
}