.header-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    border-bottom: 1px solid lightgray;
    background-color: #fff;
    /* background-color: #f3f3f3 */
}
.header-topbar{
  height: 30px;
display: block;
width: 100%;
background-color:#f3f3f3
}
.header-topbar .topbar-content{
  /* height: 30px; */
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;

}
.topbar-content span {
  padding: 0 10px;
  align-self: center;
  font-size: 10px;
  font-weight: 700;
}
.header-nav{
  height: 90px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    z-index: 20;
    max-width:1400px;
    margin: auto;
}
.header-searchField{
  width: 365px;
  height: 40px;
  border: none;
  background-color: #f3f3f3;
}
.header-logo{
  text-align: center;
    flex: 1;
}
.header-profile{
  margin-left: auto;
  display: flex;
}
.Logo-image{
  width: 200px;
}
.language-Select button{
  padding: 12px;
  border: none;
}
.language-Select i{
  margin-left: 10px;
}
.Inr-Profile button{
  padding: 12px;
  margin-left: 5px;
  border: none;
}
.Inr-Profile i{
  margin-left: 10px;
}
.My-account button{
  padding: 7px;
  margin-left:5px;
  border: none;
}
.cart button{
  padding: 8px;
  margin-left: 5px;
  border: none;
}
.mainMenu-Header{
  
  display: flex;
  align-items: center;
  padding: 5px 12px;
  z-index: 20;
  max-width:1400px;
  margin: auto;
  height: 30px;
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
}
.MegaMenuComponent .Container ul.MenuList li.ListItem span {
color: #222;
font-size: 15px;
display: inline-block;
text-decoration: none;
}
ul.Menulist {
display: flex;
text-decoration: none;
list-style-type: none;
margin-top: 0;
margin-bottom: 0;
}
span.listspan {
text-decoration: none;
margin-right: 25px;
font-size: 15px;
  color: #222;
}
span.listspan:hover{
border-bottom: 2px solid #f3ce29;
}